{{> content_top }}

<div class="col-md-8">

    {{#each (blogs site.pages)}}
    <article class="blog-post">
        {{#with page.frontmatter}}
        <h1 class="blog-post-title border-bottom">{{title}}</h2>
            <p class="blog-post-meta">{{extra.date}} {{#if extra.author}} by <a
                    href="{{extra.author_page}}">{{extra.author}}</a>{{/if}}
            </p>
            {{/with}}
            {{! Since this is HTML, we use the triple-curly }}
            {{{page.body}}}
            <p><a href="{{this.uri}}">View the Post</a></p>
    </article>
    {{/each}}


    <h2 class="border-top learn-more-card-group">Learn More</h2>
    <div class="card-group">
        <div class="card">
            <img src="/static/rust-code.png" class="card-img-top"
                alt="Screenshot of Rust code, used purely for aesthetic purposes.">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                    lead-in to
                    additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="/static/rust-code.png" class="card-img-top"
                alt="Screenshot of Rust code, used purely for aesthetic purposes.">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to
                    additional
                    content.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="/static/rust-code.png" class="card-img-top"
                alt="Screenshot of Rust code, used purely for aesthetic purposes.">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural
                    lead-in to
                    additional
                    content. This card has even longer content than the first to show that equal height
                    action.
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div><!-- end col -->
{{> content_sidebar }}
{{> content_bottom }}