<!DOCTYPE html>
<html>

  <head>
    <title>{{page.head.title}}</title>
  </head>

  <body>
    <h2>Text Transformations</h2>
    Example: <code>{{page.head.title}}</code>
    <ul>
      <li><code>upper page.head.title</code>: {{upper page.head.title}}</li>
      <li><code>lower page.head.title</code>: {{lower page.head.title}}</li>
      <li><code>trunc 8 page.head.title</code>: {{trunc 8 page.head.title}}</li>
      <li><code>abbrev 8 page.head.title</code>: {{abbrev 8 page.head.title}}</li>
      <li><code>trim "   hello    "</code>: {{trim " hello "}}</li>
      <li><code>plural 0 "apple" "apples"</code>: {{plural 0 "apple" "apples"}}</li>
      <li><code>plural 1 "apple" "apples"</code>: {{plural 1 "apple" "apples"}}</li>
      <li><code>plural 2 "apple" "apples"</code>: {{plural 2 "apple" "apples"}}</li>
      <li><code>join ", " ["tag1", "tag2"]</code>: {{join ", " ["tag1", "tag2"]}}</li>
      <li><code>split ", " "tag1, tag2"</code>: {{split ", " "tag1, tag2" }}</li>
    </ul>



  </body>

</html>