<!DOCTYPE html>
<html>

<head>
    <title>{{page.head.title}}</title>
</head>

<body>
    <h2>Pages</h2>
    <ul>
        {{#each site.pages }}
        <li>{{@key}}: {{this.head.title}}</li>
        {{/each}}
    </ul>
    <h2>Environment</h2>
    <p>These name/value pairs are available in the <code>env</code> object</code></p>
    <p>For example, you can fetch the value of <code>env.PATH_INFO</code>: "{{env.PATH_INFO}}"</p>
    <p>Any value prefaced with HTTP_ is directly from the client and should not be trusted.</p>
    <ul>
        {{#each env}}
        <li><code>{{@key}}</code>: <code>"{{this}}"</code></li>
        {{/each}}
    </ul>

</body>

</html>