<!DOCTYPE html>
<html>

<head>
    <title>{{page.head.title}}</title>
</head>

<body>
    <ul>
        <li>upper: {{upper page.head.title}}</li>
        <li>lower: {{lower page.head.title}}</li>
    </ul>
    <h2>Pages</h2>
    <ul>
        {{#each site.pages }}
        <li>{{@key}}: {{this.head.title}}</li>
        {{/each}}
    </ul>

</body>

</html>