{{> content_top }}

<div class="col-md-8">
    <article class="blog-post">
        {{#with page.head}}
        <h1 class="blog-post-title border-bottom">{{title}}</h2>
            <p class="blog-post-meta">{{extra.date}} {{#if extra.author}} by <a
                    href="{{extra.author_page}}">{{extra.author}}</a>{{/if}}
            </p>
            {{/with}}
            {{! Since this is HTML, we use the triple-curly }}
            {{{page.body}}}
            {{ echo "world" }}

    </article>


    <h2 class="border-top learn-more-card-group">And...</h2>
    <div class="card-group">
        {{#with (get_page "/content/features/wasm.md" site.pages) }}
        <div class="card">
            <img src="{{page.head.extra.image}}" class="card-img-top" alt="{{page.head.title}}">
            <div class="card-body">
                <h5 class="card-title">{{this.page.head.title}}</h5>
                <p class="card-text">{{{page.body}}}</p>
            </div>
        </div>
        {{/with}}
        {{#with (get_page "/content/features/wagi.md" site.pages) }}
        <div class="card">
            <img src="{{page.head.extra.image}}" class="card-img-top" alt="{{page.head.title}}">
            <div class="card-body">
                <h5 class="card-title">{{this.page.head.title}}</h5>
                <p class="card-text">{{{page.body}}}</p>
            </div>
        </div>
        {{/with}}
        {{#with (get_page "/content/features/kiss.md" site.pages) }}
        <div class="card">
            <img src="{{page.head.extra.image}}" class="card-img-top" alt="{{page.head.title}}">
            <div class="card-body">
                <h5 class="card-title">{{this.page.head.title}}</h5>
                <p class="card-text">{{{page.body}}}</p>
            </div>
        </div>
        {{/with}}
    </div>
</div><!-- end col -->

{{> content_sidebar }}

{{> content_bottom }}