{{> content_top }}

{{#if page.published }}{{else}}
<div class="col-md-8 alert alert-warning" role="alert">
This content is unpublished.
</div>
{{/if}}

<div class="col-md-8">
    <article class="blog-post">
        <h1 class="blog-post-title border-bottom">{{page.head.title}}</h1>
            <p class="blog-post-meta">
                {{#if page.head.date}}{{date_format site.info.extra.date_style page.head.date}} {{/if}}
                {{#if page.head.extra.author}} by <a
                    href="{{page.head.extra.author_page}}">{{page.head.extra.author}}</a>{{/if}}
            </p>
            <div class="tag-list">
                {{#each page.head.tags}}<span class="badge bg-secondary ms-1"><a href="/tag?{{this}}" class="text-light">{{this}}</a></span>{{/each}}
            </div>
            {{! Since this is HTML, we use the triple-curly }}
            {{{page.body}}}
    </article>


    <h2 class="border-top learn-more-card-group">And...</h2>
    <div class="card-group">
        {{#with (get_page "/content/features/wasm.md" site.pages) }}
        <div class="card">
            <img src="{{page.head.extra.image}}" class="card-img-top" alt="{{page.head.title}}">
            <div class="card-body">
                <h5 class="card-title">{{this.page.head.title}}</h5>
                <p class="card-text">{{{page.body}}}</p>
            </div>
        </div>
        {{/with}}
        {{#with (get_page "/content/features/wagi.md" site.pages) }}
        <div class="card">
            <img src="{{page.head.extra.image}}" class="card-img-top" alt="{{page.head.title}}">
            <div class="card-body">
                <h5 class="card-title">{{this.page.head.title}}</h5>
                <p class="card-text">{{{page.body}}}</p>
            </div>
        </div>
        {{/with}}
        {{#with (get_page "/content/features/kiss.md" site.pages) }}
        <div class="card">
            <img src="{{page.head.extra.image}}" class="card-img-top" alt="{{page.head.title}}">
            <div class="card-body">
                <h5 class="card-title">{{this.page.head.title}}</h5>
                <p class="card-text">{{{page.body}}}</p>
            </div>
        </div>
        {{/with}}
    </div>
</div><!-- end col -->

{{> content_sidebar }}

{{> content_bottom }}